
  .section-serv {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
  }
  .row-serv {
    display: flex;
    flex-wrap: wrap;
  }
  .column-serv {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .card-serv {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }
  .headtext-serv{
    font-weight: 700;
    font-size: 30px;
  }
  
  .text3-serv {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
  }
  .text-serv {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    
  }
  .icon-wrapper-serv {
    background-color: #2c7bfe;
    /* position: relative;*/
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .card-serv:hover {
    background-position: 0 100%;
  }
  .card-serv:hover .icon-wrapper-serv {
    background-color: #ffffff;
    color: #2c7bfe;
  }
  .card-serv:hover .text3-serv {
    color: #ffffff;
  }
  .card-serv:hover p {
    color: #f0f0f0;
  }
  @media screen and (min-width: 768px) {
    .section-serv {
      padding: 0 2em;
    }
    .column-serv {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    .section-serv {
      padding: 1em 3em;
    }
    .column-serv {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }


  }



.containerShop{
  width: 80%;
  margin: auto;
}













  /*
<section style={styles.section}>
      <div style={styles.row}>
        <h2 className="section-heading">Our Services</h2>
      </div>
      <div style={styles.row}>
        <div style={styles.column}>
          <div style={styles.card}>
            <div style={styles.iconwrapper}>
              <i class="fas fa-hammer"></i>
            </div>
            <h3 style={styles.h3}>Service Heading</h3>
            <p style={styles.p}>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div style={styles.column}>
          <div style={styles.card}>
            <div style={styles.iconwrapper}>
              <i class="fas fa-brush"></i>
            </div>
            <h3 style={styles.h3}>Service Heading</h3>
            <p style={styles.p}>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div style={styles.column}>
          <div style={styles.card}>
            <div style={styles.iconwrapper}>
              <i class="fas fa-wrench"></i>
            </div>
            <h3 style={styles.h3}>Service Heading</h3>
            <p style={styles.p}>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div style={styles.column}>
          <div style={styles.card}>
            <div style={styles.iconwrapper}>
              <i class="fas fa-truck-pickup"></i>
            </div>
            <h3 style={styles.h3}>Service Heading</h3>
            <p style={styles.p}>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div style={styles.column}>
          <div style={styles.card}>
            <div style={styles.iconwrapper}>
              <i class="fas fa-broom"></i>
            </div>
            <h3 style={styles.h3}>Service Heading</h3>
            <p style={styles.p}>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div style={styles.column}>
          <div style={styles.card}>
            <div style={styles.iconwrapper}>
              <i class="fas fa-plug"></i>
            </div>
            <h3 style={styles.h3}>Service Heading</h3>
            <p style={styles.p}>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
      </div>
    </section>

  */







  /*
  section: {
    height: '100vh',
    width: '100%',
    display: 'grid',
    placeItems: 'center'
  },
  row: {
    display: 'flex',
    flexWrap: 'wrap'
  },
  column: {
    width: '100%',
    padding: '0 1em 1em 1em',
    textalign: 'center'
  },
  card: {
    width: '100%',
    height:'100%',
    padding: '2em 1.5em',
    background: 'linear-gradient(#ffffff 50%, #2c7bfe 50%)',
    backgroundsize: '100% 200%',
    backgroundposition:' 0 2.5%',
    borderradius: '5px',
    boxshadow:'0 0 35px rgba(0, 0, 0, 0.12)',
    cursor: 'pointer',
    transition: '0.5s',
  },
  h3: {
    fontsize: '20px',
    fontweight: '600',
    color: "#1f194c",
    margin: '1em 0',
  },
  p: {
    color: '#575a7b',
    fontsize: '15px',
    lineheight: '1.6',
    letterspacing: '0.03em'
  },
  iconwrapper: {
    backgroundcolor: '#2c7bfe',
    position: 'relative',
    margin: "auto",
    fontsize: '30px',
    height: '2.5em',
    width: '2.5em',
    color: '#ffffff',
    borderRadius:'50%',
    display: 'grid',
    placeitems: 'center',
    transition: '0.5s'
  },
  */